## 1. 모듈삽입

In [2]:
import os
import re
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow import keras
import matplotlib.pyplot as plt
from PIL import Image
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import MinMaxScaler
# from tensorflow.python.framework import ops as tf_ops

import warnings 
warnings.filterwarnings("ignore")

# import keras.backend.tensorflow_backend as K

## 2. 데이터 설명 파일 불러오기

In [3]:
# 데이터 프레임 불러오기

total_data_final_2 = pd.read_csv('./total_data_final_2.csv')

In [4]:
# 필요한 부분의 data frame 설정

total_data_final_2.columns
df = total_data_final_2[['folder_name','image_num','category_label','category_name',
                         'category_type','texture','shape','style']]
df

,folder_name,image_num,category_label,category_name,category_type,texture,shape,style
0,Sheer_Pleated-Front_Blouse,img_00000001.jpg,3,Blouse,1,NaN,shift,NaN
1,Sheer_Pleated-Front_Blouse,img_00000002.jpg,3,Blouse,1,NaN,shift,NaN
2,Sheer_Pleated-Front_Blouse,img_00000003.jpg,3,Blouse,1,NaN,slip,NaN
3,Sheer_Pleated-Front_Blouse,img_00000004.jpg,3,Blouse,1,NaN,NaN,NaN
4,Sheer_Pleated-Front_Blouse,img_00000005.jpg,3,Blouse,1,NaN,NaN,shark
...,...,...,...,...,...,...,...,...
289103,Paisley_Print_Babydoll_Dress,img_00000050.jpg,41,Dress,3,palm springs,print shift,NaN
289104,Paisley_Print_Babydoll_Dress,img_00000051.jpg,41,Dress,3,palm,NaN,NaN
289105,Paisley_Print_Babydoll_Dress,img_00000052.jpg,41,Dress,3,palm,NaN,NaN
289106,Paisley_Print_Babydoll_Dress,img_00000053.jpg,41,Dress,3,palm springs,print shift,NaN
289107,Paisley_Print_Babydoll_Dress,img_00000054.jpg,41,Dress,3,striped,NaN,relaxed

## 3. shape 분류모델 생성 : tensorflow

### 3.1. 데이터 준비

In [5]:
# 불필요 col 삭제
df = df.drop(['style','texture'], axis=1)

# texture NA 삭제
df = df.dropna(axis=0, how='any')
df.shape #

# category_type = 3 삭제
df = df[df.category_type != 3]
df.shape

# dropna 하면서 drop된 행의 index 비어버림 : index 초기화
df = df.reset_index(drop=True)
df

,folder_name,image_num,category_label,category_name,category_type,shape
0,Sheer_Pleated-Front_Blouse,img_00000001.jpg,3,Blouse,1,shift
1,Sheer_Pleated-Front_Blouse,img_00000002.jpg,3,Blouse,1,shift
2,Sheer_Pleated-Front_Blouse,img_00000003.jpg,3,Blouse,1,slip
3,Sheer_Pleated-Front_Blouse,img_00000006.jpg,3,Blouse,1,pleated skater
4,Sheer_Pleated-Front_Blouse,img_00000007.jpg,3,Blouse,1,shift
...,...,...,...,...,...,...
93088,Destroyed_Denim_Cutoffs,img_00000015.jpg,24,Cutoffs,2,distressed skinny
93089,Destroyed_Denim_Cutoffs,img_00000016.jpg,24,Cutoffs,2,denim pencil
93090,Destroyed_Denim_Cutoffs,img_00000017.jpg,24,Cutoffs,2,denim pencil
93091,Destroyed_Denim_Cutoffs,img_00000018.jpg,24,Cutoffs,2,distressed low-rise
93092,Destroyed_Denim_Cutoffs,img_00000019.jpg,24,Cutoffs,2,skinny stretch

### 3.2. 데이터 확보: X_data

In [ ]:
img_w = 64
img_h = 64

X_data = []

for _ in range(df.shape[0]):
    
    img_dir = df['folder_name'][_] 
    img_name = df['image_num'][_] 
    classes = df['shape'].unique()
    full_dir = str('D:/Project/img/' + img_dir + '/' + img_name) #이미지 주소
    
    img = Image.open(full_dir)
    img = img.convert("RGB")
    img = img.resize((img_w, img_h))
    data = np.array(img)
    
    X_data.append(data)
    
    if _ % 1000 == 0:
        print(_)

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000
67000
68000
69000
70000
71000
72000
73000
74000
75000
76000
77000
78000
79000
80000
81000
82000
83000
84000
85000
86000
87000

### 3.3. 데이터 확보: Y_data

In [ ]:
y_data = df_t['shape']
Y_data = pd.get_dummies(y_data, columns=['shape'])
Y_data

### 3.4. 데이터 분리 및 전처리

In [ ]:
X_data = np.array(X_data)
Y_data = np.array(Y_data)

In [ ]:
# 1. 정규화

In [ ]:
# 2. train, test 구분
X_train, X_test, Y_train, Y_test = train_test_split(X_data, Y_data)
xy = (X_train, X_test, Y_train, Y_test)
np.save("texture_data.npy", xy)

### 3.4. 분류모델

In [ ]:
# 1. 그래프 초기화
tf.reset_default_graph()

# 2. Placeholder
X = tf.placeholder(shape=[None, 4096], dtype=tf.float32)
Y = tf.placeholder(shape=[None, ?????], dtype=tf.float32)
drop_rate = tf.placeholder(tf.float32)

In [ ]:
# 3. Convolution layer process
x_img = tf.reshape(X_data,[-1,64,64,1])

L1 = tf.layers.conv2d(inputs = x_img,
                      filters = 32,
                      kernel_size = [3,3],
                      padding ="SAME",
                      strides = 1,
                      activation = tf.nn.relu)
L1 = tf.layers.max_pooling2d(inputs = L1,
                             pool_size = [2,2],
                             padding = "SAME",
                             strides = 2)
L1 = tf.layers.dropout(inputs = L1, 
                       rate = drop_rate)
                       
L2 = tf.layers.conv2d(inputs = L1,
                      filters = 64,
                      kernel_size = [3,3],
                      padding ="SAME",
                      strides = 1,
                      activation = tf.nn.relu)
L2 = tf.layers.max_pooling2d(inputs = L2,
                             pool_size = [2,2],
                             padding = "SAME",
                             strides = 2)
print(L2.shape)

In [ ]:
convoled_data = tf.reshape(L2, [-1,7*7*64])

In [ ]:
layer1 = tf.layers.dense(inputs = convoled_data,
                        units = 4096,
                        activation = tf.nn.relu)
layer1 = tf.layers.dropout(inputs = layer1,
                           rate = drop_rate)


layer2 = tf.layers.dense(inputs = layer1,
                        units = 128,   
                        activation = tf.nn.relu)
layer2 = tf.layers.dropout(inputs = layer2,
                          rate = drop_rate)


layer3 = tf.layers.dense(inputs = layer2,
                        units = 512,  
                        activation = tf.nn.relu)
layer3 = tf.layers.dropout(inputs = layer2,
                          rate = drop_rate)

In [ ]:
# 가설
H = tf.layers.dense(inputs = layer3, units=10)

# Cost Function
cost = tf.losses.softmax_cross_entropy(Y, H)

# Train
train = tf.train.AdadeltaOptimizer(learning_rate = 0.01).minimize(cost)
sess = tf.Session()

# Session, 초기화
sess.run(tf.global_variables_initializer())

In [ ]:
# 학습
for i in range(10):
    tf.reset_default_graph()
    num_of_epoch = 30
    batch_size = 100
    
    for step in range(num_of_epoch):
            num_of_iter = int(len(X_train) / batch_size)
            cost_val = 0
            
            for j in range(num_of_iter):
                batch_x, batch_y = mnist.train.next_batch(batch_size)
                _,H_val,cost_val = sess.run([train,H,cost], feed_dict={X : X_train,
                                                       Y : Y_train, 
                                                       dropout_rate : 0.3})
                
                
    if step % 1 == 0:
        print(f'cost값: {val_cost}')

In [ ]:
# 정확도
predict = tf.argmax(H,1)
correct = tf.equal(predict, tf.argmax(Y,1))
accuracy = tf.reduce_mean(tf.cast(correct, dtype=tf.float32 ))