### 필요 모듈 import

In [101]:
import googletrans
from googletrans import Translator
import pandas as pd
import warnings
warnings.filterwarnings(action='ignore')
translator = Translator()

In [102]:
!pip install git+https://github.com/BoseCorp/py-googletrans.git --upgrade

Collecting git+https://github.com/BoseCorp/py-googletrans.git

  Running command git clone -q https://github.com/BoseCorp/py-googletrans.git 'C:\Users\user\AppData\Local\Temp\pip-req-build-ve28j9m6'

  Cloning https://github.com/BoseCorp/py-googletrans.git to c:\users\user\appdata\local\temp\pip-req-build-ve28j9m6
Requirement already satisfied, skipping upgrade: requests in c:\users\user\anaconda3\envs\venv\lib\site-packages (from googletrans==2.3.0) (2.24.0)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in c:\users\user\anaconda3\envs\venv\lib\site-packages (from requests->googletrans==2.3.0) (2020.6.20)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\user\anaconda3\envs\venv\lib\site-packages (from requests->googletrans==2.3.0) (1.25.10)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in c:\users\user\anaconda3\envs\venv\lib\site-packages (from requests->googletrans==2.3.0) (3.0.4)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in c:\users\user\anaconda3\envs\venv\lib\site-packages (from requests->googletrans==2.3.0) (2.10)
Building wheels for collected packages: googletrans
  Building wheel for googletrans (setup.py): started
  Building wheel for googletrans (setup.py): finished with status 'done'
  Created wheel for googletrans: filename=googletrans-2.3.0-py3-none-any.whl size=16454 sha256=55251518b228de8236ce59927da6315fd79f786a16b6adbd03570ab55d646ab9
  Stored in directory: C:\Users\user\AppData\Local\Temp\pip-ephem-wheel-cache-7hlyhej3\wheels\47\36\e9\61b898815a1cc820932f597826ac8caf9c5f4739325fe8ea5f
Successfully built googletrans
Installing collected packages: googletrans
  Attempting uninstall: googletrans
    Found existing installation: googletrans 2.3.0
    Uninstalling googletrans-2.3.0:
      Successfully uninstalled googletrans-2.3.0
Successfully installed googletrans-2.3.0

### ZC05MMT005 테이블 생성

In [110]:
# table04 불러오기
df04 = pd.read_csv("ZC05MMT004.csv")
display(df04.head())

# ZC05MMT004 테이블을 불러와서 추가 컬럼을 생성하는 방식으로 생성
df05 = df04

# 필요한 컬럼 추가: COMTE, COMTC, COMTJ, EMO, EMOR
for col in ['COMTK','COMTC','COMTJ','EMO','EMOR']:
    df05[col] = 'NA'
    
df05.columns     #컬럼명 확인display
display(df05.head())

,LIFNR,NAME1,LAND1,ORT01,COMT
0,10300080,Inlandslieferant DE (Ariba Netzwerk,DE,Bremen,"Had all the parts, with power tools it took ab..."
1,10300080,Inlandslieferant DE (Ariba Netzwerk,DE,Bremen,Delivered fast. Takes about 6hrs to assemble b...
2,10300080,Inlandslieferant DE (Ariba Netzwerk,DE,Bremen,Absolutely amazing! I had the first Generation...
3,10300080,Inlandslieferant DE (Ariba Netzwerk,DE,Bremen,They were absolutely great love everything abo...
4,10300080,Inlandslieferant DE (Ariba Netzwerk,DE,Bremen,I enjoy using my airpods pros they have great ...

,LIFNR,NAME1,LAND1,ORT01,COMT,COMTK,COMTC,COMTJ,EMO,EMOR
0,10300080,Inlandslieferant DE (Ariba Netzwerk,DE,Bremen,"Had all the parts, with power tools it took ab...",NA,NA,NA,NA,NA
1,10300080,Inlandslieferant DE (Ariba Netzwerk,DE,Bremen,Delivered fast. Takes about 6hrs to assemble b...,NA,NA,NA,NA,NA
2,10300080,Inlandslieferant DE (Ariba Netzwerk,DE,Bremen,Absolutely amazing! I had the first Generation...,NA,NA,NA,NA,NA
3,10300080,Inlandslieferant DE (Ariba Netzwerk,DE,Bremen,They were absolutely great love everything abo...,NA,NA,NA,NA,NA
4,10300080,Inlandslieferant DE (Ariba Netzwerk,DE,Bremen,I enjoy using my airpods pros they have great ...,NA,NA,NA,NA,NA

### 아래 번역 api 문제가 있어서 일단 90개 번역해서 테이블 만들어 둠

In [111]:
# 번역 파일 가져오기 
dfComt = pd.read_csv("comment.csv")
dfComt.columns = ['COMT']
for col in ['COMTK','COMTC','COMTJ','EMO','EMOR']:
    dfComt[col] = 'NA'

In [114]:
#한국어
# for i in range(len(dfComt)):
#     source = dfComt['COMT'][i]
# #     translator = Translator()
#     target = translator.translate(source, src='en', dest='ko')
#     dfComt['COMTK'][i] = target.text
#     if i % 10 == 0:
#         print(i) 
#         print(target)   
    

#중국어
# for i in range(len(dfComt)):
#     source = dfComt['COMT'][i]
# #     translator = Translator()
#     target = translator.translate(source, src='en', dest='zh-tw')
#     dfComt['COMTC'][i] = target.text  
#     if i % 10 == 0:
#         print(i) 
#         print(target)    
    
#일본어
# for i in range(len(dfComt)):
#     source = dfComt['COMT'][i]
# #     translator = Translator()
#     target = translator.translate(source, src='en', dest='ja')
#     dfComt['COMTJ'][i] = target.text
#     if i % 10 == 0:
#         print(i) 
#         print(target)

0
Translated(src=en, dest=ko, text=모든 부품이 있고 전동 공구를 사용하는 데 약 4 시간이 걸렸습니다. 4 살, 1 살 반에게는 좋지만 친구의 9 살은 슬라이드가 조금 컸습니다. 내 여자애들이 좋아해!, pronunciation=[[]], extra_data="{'translat...")
10
Translated(src=en, dest=ko, text=난 정말 좋아, pronunciation=nan jeongmal joh-a, extra_data="{'translat...")
20
Translated(src=en, dest=ko, text=너무 미안해서 상자에서 스트랩이 부러져서 하나 하나가 부러 졌다고 주문했습니다. 나는 내가 패킷을 버리지 않았 으면 좋겠다, 나는 그것들이 좋다는 것 외에는 그것들을 돌려 보낼 것이다., pronunciation=[[]], extra_data="{'translat...")
30
Translated(src=en, dest=ko, text=플래시 드라이브는 다른 드라이브보다 느릴 수 있지만 많은 정보를 보유합니다. 작기 때문에 이상적입니다. 주머니에 넣고 거의 모든 USB에서 사용할 수 있습니다., pronunciation=[[]], extra_data="{'translat...")
40
Translated(src=en, dest=ko, text=끔찍하지는 않지만 그들은 약간 무거운 편을 느낍니다. 코 클립이 있으면 좋겠어요. 이것은 내 안경을 안개로 만드는 약간 떨어지는 경향이 있습니다. 색상을 좋아합니다., pronunciation=[[]], extra_data="{'translat...")
50
Translated(src=en, dest=ko, text=당신이 지불하는 것은 가벼운 일을 할 수 있습니다., pronunciation=dangsin-i jibulhaneun geos-eun gabyeoun il-eul hal su issseubnida., extra_data="{'translat...")
60
Translated(src=en, dest=ko, text=가격 대비 훌륭한 마우스. 방금 두 번째를 구입했습니다!, pronunciation=[[]], extra_data="{'translat...")
70
Translated(src=en, dest=ko, text=내 카메라 주변에 균열이 남는 것을 알기 전까지는 좋은 원인이었습니다. 나는 언제 어떻게하는지 모르지만 케이스를 꺼내면 나에게 매우 화가 나는 균열을 발견했습니다. 그래서 케이스 insn ???? 그것이 주장하는 보호로서., pronunciation=[[]], extra_data="{'translat...")
80
Translated(src=en, dest=ko, text=매장에서 구입했습니다. 간단한 사과 USB 포트가 완벽하게 작동합니다., pronunciation=[[]], extra_data="{'translat...")

In [115]:
dfComt.head()

,COMT,COMTK,COMTC,COMTJ,EMO,EMOR
0,"Had all the parts, with power tools it took ab...","모든 부품이 있고 전동 공구를 사용하는 데 약 4 시간이 걸렸습니다. 4 살, 1 ...",安裝了所有零件，使用電動工具大約需要4個小時。這對我4歲零1歲半的孩子來說很棒，但是我朋友9...,すべての部品を持っていて、電動工具で約4時間かかりました。私の4歳と1歳半には素晴らしいです...,NA,NA
1,Delivered fast. Takes about 6hrs to assemble b...,"빠른 배송. 조립하는 데 약 6 시간이 걸리지 만, 조립하면 검역 중에 편리하게 사...",交貨迅速。組裝大約需要6個小時，但這樣做非常值得，在隔離期間會派上用場。我購買了一些遊樂場配...,迅速に配信されます。組み立てには約6時間かかりますが、組み立てるのに十分な価値があり、検疫中...,NA,NA
2,Absolutely amazing! I had the first Generation...,정말 대단해! 나는 1 세대 AirPods를 가지고 있었지만 이것은 완전히 새로운 ...,非常精彩！我擁有第一代AirPods，但這是一個全新的水平！,本当にすごい！私は第1世代のAirPodsを持っていましたが、これはまったく新しいレベルです!!,NA,NA
3,They were absolutely great love everything abo...,그들은 그들에 대한 모든 것을 절대적으로 위대한 사랑이었습니다.,他們絕對是偉大的愛，關於他們的一切,彼らは絶対に彼らについてのすべてを愛していた,NA,NA
4,I enjoy using my airpods pros they have great ...,나는 내 airpods 프로를 사용하는 것을 즐깁니다. 그들은 배터리 수명이 길고 ...,我喜歡使用我的airpods專業人士，他們的電池續航力很好，而且從來沒有任何連接問題,私はエアポッドのプロを使って楽しんでいます。彼らはバッテリー寿命が長く、接続の問題はありません,NA,NA

In [117]:
# 번역 테이블 값을 mydf: df05 복사본에 넣음
mydf = df05

k=0
for _ in range(len(mydf)):
    if k < 90:
        for col in ['COMT','COMTK','COMTC','COMTJ']:
            mydf[col][_] = dfComt[col][k]
        k+=1
    else:
        k=0
        for col in ['COMT','COMTK','COMTC','COMTJ']:
            mydf[col][_] = dfComt[col][k]
        k+=1
    if _ % 100 == 0:
        print(_)
        display(mydf.iloc[_-2:_])

0

Empty DataFrame
Columns: [LIFNR, NAME1, LAND1, ORT01, COMT, COMTK, COMTC, COMTJ, EMO, EMOR]
Index: []

100

,LIFNR,NAME1,LAND1,ORT01,COMT,COMTK,COMTC,COMTJ,EMO,EMOR
98,9980000137,Marc Carter,US,New York,Not worth it... they are very uncomfortable af...,그만한 가치가 없습니다 ... 30 분 착용 후 매우 불편합니다. 그들은 내 귀에 ...,不值得...穿著30分鐘後，他們感到非常不舒服。他們不會留在我的耳朵裡。我帶來了不同的配件，...,それだけの価値はありません...彼らは30分の着用後に非常に不快です。彼らは私の耳にとどまり...,NA,NA
99,9980000137,Marc Carter,US,New York,It doesn't come with a charging cube!! Each ea...,충전 큐브는 포함되어 있지 않습니다 !! 각 이어 피스는 통화하는 동안 약 45 분...,它沒有附帶充電立方體！！每個耳機在通話時將持續約45分鐘。蘋果只是不在乎，並且知道我們會繼續購買。,充電キューブは付属していません!!話している間、各イヤピースは約45分続きます。 Apple...,NA,NA

200

,LIFNR,NAME1,LAND1,ORT01,COMT,COMTK,COMTC,COMTJ,EMO,EMOR
198,9980000137,Marc Carter,US,New York,"The ear strings keep breaking, just drop while...",귀 끈이 계속 끊어지고 착용하는 동안 떨어집니다! 우리가 사용한 6 개 중 3 개가...,耳線不斷折斷，佩戴時會掉落！在我們使用的6個中，有3個已損壞！,イヤーストリングが壊れ続けるので、装着しながら落とすだけ！私たちが使用した6つのうち、3つが...,NA,NA
199,9980000137,Marc Carter,US,New York,This product does not deserve even one star. W...,이 제품은 별 하나도받을 자격이 없습니다. 마스크를 귀에 씌우는 동안 신축성이 마스...,該產品甚至不值得一星級。將面罩戴在我的耳朵上時，鬆緊帶拉下了面罩，使它毫無用處。這發生了三分...,この製品は1つ星に値するものではありません。マスクを耳に当てている間、ゴムがマスクを引き剥が...,NA,NA

300

,LIFNR,NAME1,LAND1,ORT01,COMT,COMTK,COMTC,COMTJ,EMO,EMOR
298,9980000137,Marc Carter,US,New York,"Great price for lots of storage, but it's SO slow",많은 스토리지에 대한 저렴한 가격이지만 너무 느립니다.,大量存儲的優惠價格，但是太慢了,大量のストレージにはお得な価格ですが、とても遅いです,NA,NA
299,9980000137,Marc Carter,US,New York,This was supposed to be a photo stick for my I...,이것은 내 아이폰을위한 포토 스틱으로되어 있었지만 아니었다. 정말 실망했다,這本來應該是我iPhone的照片棒，但事實並非如此。非常失望,これは私のiPhone用のフォトスティックであるはずでしたが、そうではありませんでした。とて...,NA,NA

400

,LIFNR,NAME1,LAND1,ORT01,COMT,COMTK,COMTC,COMTJ,EMO,EMOR
398,9980000137,Marc Carter,US,New York,This is a great value pack of masks. The adjus...,이것은 훌륭한 가치의 마스크 팩입니다. 조절 가능한 이어 스트랩이 좋고 마스크가 큰...,這是一個超值的口罩包。可調節的耳帶很好，並且口罩覆蓋範圍廣。我也收到快遞，並且很快就到了。,これはお得なマスクのパックです。調節可能なイヤーストラップは優れており、マスクは優れたカバレ...,NA,NA
399,9980000137,Marc Carter,US,New York,Very thin. Wasted money. I bought a different ...,매우 날씬하다. 낭비 된 돈. 나는 다른 회사에서 다른 5 개 세트를 구입했고 조금...,很瘦。浪費錢了。我從另一家公司買了一套不同的5件，便宜一點,非常に薄いです。無駄なお金。別の会社から別の5セットを購入し、少し安くしました,NA,NA

500

,LIFNR,NAME1,LAND1,ORT01,COMT,COMTK,COMTC,COMTJ,EMO,EMOR
498,9980000137,Marc Carter,US,New York,Love this machine. Bought it while on vacation...,이 기계를 사랑하십시오. 휴가 중에 마스크를 만들기 위해 구입했습니다. 여전히 훌륭...,愛這台機器。度假時購買了它，以幫助製作口罩。它仍然做得很好，可以在我自己的家用計算機上使用！,このマシンが大好きです。休暇中にマスクを作るのを手伝うためにそれを買いました。それはまだ素晴...,NA,NA
499,9980000137,Marc Carter,US,New York,"Very good machine, light weight","아주 좋은 기계, 가벼운 무게",很好的機器，重量輕,非常に優れた機械、軽量,NA,NA

600

,LIFNR,NAME1,LAND1,ORT01,COMT,COMTK,COMTC,COMTJ,EMO,EMOR
598,9980000137,Marc Carter,US,New York,"It's a great mouse for the price, but don't ex...",가격 대비 훌륭한 마우스이지만 어떤 종류의 게임도 할 것으로 기대하지 마십시오. 매...,它是價格的絕佳選擇，但不要指望它會做任何形式的遊戲。極不響應，電池壽命短。,価格的には素晴らしいマウスですが、それを使ってゲームをすることは期待しないでください。非常に...,NA,NA
599,9980000137,Marc Carter,US,New York,Did not like the fact that this machine does n...,이 기계에는 자동 바늘 실이 포함되어 있지 않다는 사실이 마음에 들지 않았습니다. ...,不喜歡該機器沒有自動穿線器的事實。不知道它沒有包含在這台機器上。應該已經在規格，我不會買這台機器,このミシンに自動針糸通しが付いていないのが気に入らなかった。このマシンに含まれていないことに...,NA,NA

700

,LIFNR,NAME1,LAND1,ORT01,COMT,COMTK,COMTC,COMTJ,EMO,EMOR
698,9980000137,Marc Carter,US,New York,I bought this same brand case bit for my husba...,"나는 남편의 아이폰 8을 위해 동일한 브랜드 케이스 비트를 샀고, 내 아이폰 11 ...",我為丈夫的iphone 8買了同一個品牌保護套，它的質量和保護性比我的iPhone 11更好。,私は夫のiphone8用にこれと同じブランドのケースビットを購入しましたが、iPhone 1...,NA,NA
699,9980000137,Marc Carter,US,New York,Nice cover. Feels good when holding due to smo...,멋진 커버. 부드러운 모서리와 고품질 플라스틱 소재로 인해 잡을 때 기분이 좋습니다.,好的封面。光滑的邊緣和優質的塑料材料使握持時感覺良好。,素敵なカバー。滑らかなエッジと高品質のプラスチック素材により、持ちやすいです。,NA,NA

800

,LIFNR,NAME1,LAND1,ORT01,COMT,COMTK,COMTC,COMTJ,EMO,EMOR
798,9980000137,Marc Carter,US,New York,Why am I receiving a used steamer for in store...,매장 픽업을 위해 중고 증기선을받는 이유는 무엇입니까? 그것은 가방에 있었고 집에 ...,為什麼我會收到用過的蒸鍋去商店取貨？它裝在一個袋子裡，不認為我會得到我回家之前才看過的二手產...,店頭受け取り用の中古蒸し器を受け取るのはなぜですか？かばんに入っていて、家に帰るまで見ていな...,NA,NA
799,9980000137,Marc Carter,US,New York,Has less steam power than my little old cheap ...,내 작은 낡은 값싼 증기선보다 증기 력이 적습니다.,蒸汽動力比我的舊舊廉價蒸汽輪少。,私の少し古い安い蒸し器よりも蒸気力が少ない。,NA,NA

900

,LIFNR,NAME1,LAND1,ORT01,COMT,COMTK,COMTC,COMTJ,EMO,EMOR
898,9980000137,Marc Carter,US,New York,I'm disappointed in this thermometer. 1st one ...,이 온도계에 실망했습니다. 내가 얻은 첫 번째 것이 작동하지 않았습니다. 반품 및 ...,我對這款溫度計感到失望。我得到的第一個沒有用。提交退貨和更換。我得到的第二個也沒有工作。我什...,私はこの温度計に失望しています。私が得た最初のものは動作しませんでした。返品および交換のため...,NA,NA
899,9980000137,Marc Carter,US,New York,got today and does not work new batteries and ...,오늘은 새 배터리를 작동하지 않고 여전히 작동하지 않습니다. 중국에서 만든 월마트에...,今天到了，不能使用新電池，仍然不能使用我從沃爾瑪那裡購買的中國製造的東西，效果不佳,今日入手したが、新しいバッテリーが機能せず、中国製のウォルマートから購入したものはまだ機能しない。,NA,NA

1000

,LIFNR,NAME1,LAND1,ORT01,COMT,COMTK,COMTC,COMTJ,EMO,EMOR
998,9980000137,Marc Carter,US,New York,Not worth it... they are very uncomfortable af...,그만한 가치가 없습니다 ... 30 분 착용 후 매우 불편합니다. 그들은 내 귀에 ...,不值得...穿著30分鐘後，他們感到非常不舒服。他們不會留在我的耳朵裡。我帶來了不同的配件，...,それだけの価値はありません...彼らは30分の着用後に非常に不快です。彼らは私の耳にとどまり...,NA,NA
999,9980000137,Marc Carter,US,New York,It doesn't come with a charging cube!! Each ea...,충전 큐브는 포함되어 있지 않습니다 !! 각 이어 피스는 통화하는 동안 약 45 분...,它沒有附帶充電立方體！！每個耳機在通話時將持續約45分鐘。蘋果只是不在乎，並且知道我們會繼續購買。,充電キューブは付属していません!!話している間、各イヤピースは約45分続きます。 Apple...,NA,NA

1100

,LIFNR,NAME1,LAND1,ORT01,COMT,COMTK,COMTC,COMTJ,EMO,EMOR
1098,9980000137,Marc Carter,US,New York,"The ear strings keep breaking, just drop while...",귀 끈이 계속 끊어지고 착용하는 동안 떨어집니다! 우리가 사용한 6 개 중 3 개가...,耳線不斷折斷，佩戴時會掉落！在我們使用的6個中，有3個已損壞！,イヤーストリングが壊れ続けるので、装着しながら落とすだけ！私たちが使用した6つのうち、3つが...,NA,NA
1099,9980000137,Marc Carter,US,New York,This product does not deserve even one star. W...,이 제품은 별 하나도받을 자격이 없습니다. 마스크를 귀에 씌우는 동안 신축성이 마스...,該產品甚至不值得一星級。將面罩戴在我的耳朵上時，鬆緊帶拉下了面罩，使它毫無用處。這發生了三分...,この製品は1つ星に値するものではありません。マスクを耳に当てている間、ゴムがマスクを引き剥が...,NA,NA

1200

,LIFNR,NAME1,LAND1,ORT01,COMT,COMTK,COMTC,COMTJ,EMO,EMOR
1198,9980000137,Marc Carter,US,New York,"Great price for lots of storage, but it's SO slow",많은 스토리지에 대한 저렴한 가격이지만 너무 느립니다.,大量存儲的優惠價格，但是太慢了,大量のストレージにはお得な価格ですが、とても遅いです,NA,NA
1199,9980000137,Marc Carter,US,New York,This was supposed to be a photo stick for my I...,이것은 내 아이폰을위한 포토 스틱으로되어 있었지만 아니었다. 정말 실망했다,這本來應該是我iPhone的照片棒，但事實並非如此。非常失望,これは私のiPhone用のフォトスティックであるはずでしたが、そうではありませんでした。とて...,NA,NA

1300

,LIFNR,NAME1,LAND1,ORT01,COMT,COMTK,COMTC,COMTJ,EMO,EMOR
1298,9980000137,Marc Carter,US,New York,This is a great value pack of masks. The adjus...,이것은 훌륭한 가치의 마스크 팩입니다. 조절 가능한 이어 스트랩이 좋고 마스크가 큰...,這是一個超值的口罩包。可調節的耳帶很好，並且口罩覆蓋範圍廣。我也收到快遞，並且很快就到了。,これはお得なマスクのパックです。調節可能なイヤーストラップは優れており、マスクは優れたカバレ...,NA,NA
1299,9980000137,Marc Carter,US,New York,Very thin. Wasted money. I bought a different ...,매우 날씬하다. 낭비 된 돈. 나는 다른 회사에서 다른 5 개 세트를 구입했고 조금...,很瘦。浪費錢了。我從另一家公司買了一套不同的5件，便宜一點,非常に薄いです。無駄なお金。別の会社から別の5セットを購入し、少し安くしました,NA,NA

1400

,LIFNR,NAME1,LAND1,ORT01,COMT,COMTK,COMTC,COMTJ,EMO,EMOR
1398,9980000137,Marc Carter,US,New York,Love this machine. Bought it while on vacation...,이 기계를 사랑하십시오. 휴가 중에 마스크를 만들기 위해 구입했습니다. 여전히 훌륭...,愛這台機器。度假時購買了它，以幫助製作口罩。它仍然做得很好，可以在我自己的家用計算機上使用！,このマシンが大好きです。休暇中にマスクを作るのを手伝うためにそれを買いました。それはまだ素晴...,NA,NA
1399,9980000137,Marc Carter,US,New York,"Very good machine, light weight","아주 좋은 기계, 가벼운 무게",很好的機器，重量輕,非常に優れた機械、軽量,NA,NA

1500

,LIFNR,NAME1,LAND1,ORT01,COMT,COMTK,COMTC,COMTJ,EMO,EMOR
1498,9980000137,Marc Carter,US,New York,"It's a great mouse for the price, but don't ex...",가격 대비 훌륭한 마우스이지만 어떤 종류의 게임도 할 것으로 기대하지 마십시오. 매...,它是價格的絕佳選擇，但不要指望它會做任何形式的遊戲。極不響應，電池壽命短。,価格的には素晴らしいマウスですが、それを使ってゲームをすることは期待しないでください。非常に...,NA,NA
1499,9980000137,Marc Carter,US,New York,Did not like the fact that this machine does n...,이 기계에는 자동 바늘 실이 포함되어 있지 않다는 사실이 마음에 들지 않았습니다. ...,不喜歡該機器沒有自動穿線器的事實。不知道它沒有包含在這台機器上。應該已經在規格，我不會買這台機器,このミシンに自動針糸通しが付いていないのが気に入らなかった。このマシンに含まれていないことに...,NA,NA

1600

,LIFNR,NAME1,LAND1,ORT01,COMT,COMTK,COMTC,COMTJ,EMO,EMOR
1598,9980000137,Marc Carter,US,New York,I bought this same brand case bit for my husba...,"나는 남편의 아이폰 8을 위해 동일한 브랜드 케이스 비트를 샀고, 내 아이폰 11 ...",我為丈夫的iphone 8買了同一個品牌保護套，它的質量和保護性比我的iPhone 11更好。,私は夫のiphone8用にこれと同じブランドのケースビットを購入しましたが、iPhone 1...,NA,NA
1599,9980000137,Marc Carter,US,New York,Nice cover. Feels good when holding due to smo...,멋진 커버. 부드러운 모서리와 고품질 플라스틱 소재로 인해 잡을 때 기분이 좋습니다.,好的封面。光滑的邊緣和優質的塑料材料使握持時感覺良好。,素敵なカバー。滑らかなエッジと高品質のプラスチック素材により、持ちやすいです。,NA,NA

1700

,LIFNR,NAME1,LAND1,ORT01,COMT,COMTK,COMTC,COMTJ,EMO,EMOR
1698,9980000137,Marc Carter,US,New York,Why am I receiving a used steamer for in store...,매장 픽업을 위해 중고 증기선을받는 이유는 무엇입니까? 그것은 가방에 있었고 집에 ...,為什麼我會收到用過的蒸鍋去商店取貨？它裝在一個袋子裡，不認為我會得到我回家之前才看過的二手產...,店頭受け取り用の中古蒸し器を受け取るのはなぜですか？かばんに入っていて、家に帰るまで見ていな...,NA,NA
1699,9980000137,Marc Carter,US,New York,Has less steam power than my little old cheap ...,내 작은 낡은 값싼 증기선보다 증기 력이 적습니다.,蒸汽動力比我的舊舊廉價蒸汽輪少。,私の少し古い安い蒸し器よりも蒸気力が少ない。,NA,NA

1800

,LIFNR,NAME1,LAND1,ORT01,COMT,COMTK,COMTC,COMTJ,EMO,EMOR
1798,9980000137,Marc Carter,US,New York,I'm disappointed in this thermometer. 1st one ...,이 온도계에 실망했습니다. 내가 얻은 첫 번째 것이 작동하지 않았습니다. 반품 및 ...,我對這款溫度計感到失望。我得到的第一個沒有用。提交退貨和更換。我得到的第二個也沒有工作。我什...,私はこの温度計に失望しています。私が得た最初のものは動作しませんでした。返品および交換のため...,NA,NA
1799,9980000137,Marc Carter,US,New York,got today and does not work new batteries and ...,오늘은 새 배터리를 작동하지 않고 여전히 작동하지 않습니다. 중국에서 만든 월마트에...,今天到了，不能使用新電池，仍然不能使用我從沃爾瑪那裡購買的中國製造的東西，效果不佳,今日入手したが、新しいバッテリーが機能せず、中国製のウォルマートから購入したものはまだ機能しない。,NA,NA

1900

,LIFNR,NAME1,LAND1,ORT01,COMT,COMTK,COMTC,COMTJ,EMO,EMOR
1898,9980000137,Marc Carter,US,New York,Not worth it... they are very uncomfortable af...,그만한 가치가 없습니다 ... 30 분 착용 후 매우 불편합니다. 그들은 내 귀에 ...,不值得...穿著30分鐘後，他們感到非常不舒服。他們不會留在我的耳朵裡。我帶來了不同的配件，...,それだけの価値はありません...彼らは30分の着用後に非常に不快です。彼らは私の耳にとどまり...,NA,NA
1899,9980000137,Marc Carter,US,New York,It doesn't come with a charging cube!! Each ea...,충전 큐브는 포함되어 있지 않습니다 !! 각 이어 피스는 통화하는 동안 약 45 분...,它沒有附帶充電立方體！！每個耳機在通話時將持續約45分鐘。蘋果只是不在乎，並且知道我們會繼續購買。,充電キューブは付属していません!!話している間、各イヤピースは約45分続きます。 Apple...,NA,NA

2000

,LIFNR,NAME1,LAND1,ORT01,COMT,COMTK,COMTC,COMTJ,EMO,EMOR
1998,9980000137,Marc Carter,US,New York,"The ear strings keep breaking, just drop while...",귀 끈이 계속 끊어지고 착용하는 동안 떨어집니다! 우리가 사용한 6 개 중 3 개가...,耳線不斷折斷，佩戴時會掉落！在我們使用的6個中，有3個已損壞！,イヤーストリングが壊れ続けるので、装着しながら落とすだけ！私たちが使用した6つのうち、3つが...,NA,NA
1999,9980000137,Marc Carter,US,New York,This product does not deserve even one star. W...,이 제품은 별 하나도받을 자격이 없습니다. 마스크를 귀에 씌우는 동안 신축성이 마스...,該產品甚至不值得一星級。將面罩戴在我的耳朵上時，鬆緊帶拉下了面罩，使它毫無用處。這發生了三分...,この製品は1つ星に値するものではありません。マスクを耳に当てている間、ゴムがマスクを引き剥が...,NA,NA

2100

,LIFNR,NAME1,LAND1,ORT01,COMT,COMTK,COMTC,COMTJ,EMO,EMOR
2098,9980000137,Marc Carter,US,New York,"Great price for lots of storage, but it's SO slow",많은 스토리지에 대한 저렴한 가격이지만 너무 느립니다.,大量存儲的優惠價格，但是太慢了,大量のストレージにはお得な価格ですが、とても遅いです,NA,NA
2099,9980000137,Marc Carter,US,New York,This was supposed to be a photo stick for my I...,이것은 내 아이폰을위한 포토 스틱으로되어 있었지만 아니었다. 정말 실망했다,這本來應該是我iPhone的照片棒，但事實並非如此。非常失望,これは私のiPhone用のフォトスティックであるはずでしたが、そうではありませんでした。とて...,NA,NA

2200

,LIFNR,NAME1,LAND1,ORT01,COMT,COMTK,COMTC,COMTJ,EMO,EMOR
2198,9980000137,Marc Carter,US,New York,This is a great value pack of masks. The adjus...,이것은 훌륭한 가치의 마스크 팩입니다. 조절 가능한 이어 스트랩이 좋고 마스크가 큰...,這是一個超值的口罩包。可調節的耳帶很好，並且口罩覆蓋範圍廣。我也收到快遞，並且很快就到了。,これはお得なマスクのパックです。調節可能なイヤーストラップは優れており、マスクは優れたカバレ...,NA,NA
2199,9980000137,Marc Carter,US,New York,Very thin. Wasted money. I bought a different ...,매우 날씬하다. 낭비 된 돈. 나는 다른 회사에서 다른 5 개 세트를 구입했고 조금...,很瘦。浪費錢了。我從另一家公司買了一套不同的5件，便宜一點,非常に薄いです。無駄なお金。別の会社から別の5セットを購入し、少し安くしました,NA,NA

2300

,LIFNR,NAME1,LAND1,ORT01,COMT,COMTK,COMTC,COMTJ,EMO,EMOR
2298,9980000137,Marc Carter,US,New York,Love this machine. Bought it while on vacation...,이 기계를 사랑하십시오. 휴가 중에 마스크를 만들기 위해 구입했습니다. 여전히 훌륭...,愛這台機器。度假時購買了它，以幫助製作口罩。它仍然做得很好，可以在我自己的家用計算機上使用！,このマシンが大好きです。休暇中にマスクを作るのを手伝うためにそれを買いました。それはまだ素晴...,NA,NA
2299,9980000137,Marc Carter,US,New York,"Very good machine, light weight","아주 좋은 기계, 가벼운 무게",很好的機器，重量輕,非常に優れた機械、軽量,NA,NA

2400

,LIFNR,NAME1,LAND1,ORT01,COMT,COMTK,COMTC,COMTJ,EMO,EMOR
2398,9980000137,Marc Carter,US,New York,"It's a great mouse for the price, but don't ex...",가격 대비 훌륭한 마우스이지만 어떤 종류의 게임도 할 것으로 기대하지 마십시오. 매...,它是價格的絕佳選擇，但不要指望它會做任何形式的遊戲。極不響應，電池壽命短。,価格的には素晴らしいマウスですが、それを使ってゲームをすることは期待しないでください。非常に...,NA,NA
2399,9980000137,Marc Carter,US,New York,Did not like the fact that this machine does n...,이 기계에는 자동 바늘 실이 포함되어 있지 않다는 사실이 마음에 들지 않았습니다. ...,不喜歡該機器沒有自動穿線器的事實。不知道它沒有包含在這台機器上。應該已經在規格，我不會買這台機器,このミシンに自動針糸通しが付いていないのが気に入らなかった。このマシンに含まれていないことに...,NA,NA

2500

,LIFNR,NAME1,LAND1,ORT01,COMT,COMTK,COMTC,COMTJ,EMO,EMOR
2498,9980000137,Marc Carter,US,New York,I bought this same brand case bit for my husba...,"나는 남편의 아이폰 8을 위해 동일한 브랜드 케이스 비트를 샀고, 내 아이폰 11 ...",我為丈夫的iphone 8買了同一個品牌保護套，它的質量和保護性比我的iPhone 11更好。,私は夫のiphone8用にこれと同じブランドのケースビットを購入しましたが、iPhone 1...,NA,NA
2499,9980000137,Marc Carter,US,New York,Nice cover. Feels good when holding due to smo...,멋진 커버. 부드러운 모서리와 고품질 플라스틱 소재로 인해 잡을 때 기분이 좋습니다.,好的封面。光滑的邊緣和優質的塑料材料使握持時感覺良好。,素敵なカバー。滑らかなエッジと高品質のプラスチック素材により、持ちやすいです。,NA,NA

2600

,LIFNR,NAME1,LAND1,ORT01,COMT,COMTK,COMTC,COMTJ,EMO,EMOR
2598,9980000137,Marc Carter,US,New York,Why am I receiving a used steamer for in store...,매장 픽업을 위해 중고 증기선을받는 이유는 무엇입니까? 그것은 가방에 있었고 집에 ...,為什麼我會收到用過的蒸鍋去商店取貨？它裝在一個袋子裡，不認為我會得到我回家之前才看過的二手產...,店頭受け取り用の中古蒸し器を受け取るのはなぜですか？かばんに入っていて、家に帰るまで見ていな...,NA,NA
2599,9980000137,Marc Carter,US,New York,Has less steam power than my little old cheap ...,내 작은 낡은 값싼 증기선보다 증기 력이 적습니다.,蒸汽動力比我的舊舊廉價蒸汽輪少。,私の少し古い安い蒸し器よりも蒸気力が少ない。,NA,NA

2700

,LIFNR,NAME1,LAND1,ORT01,COMT,COMTK,COMTC,COMTJ,EMO,EMOR
2698,9980000137,Marc Carter,US,New York,I'm disappointed in this thermometer. 1st one ...,이 온도계에 실망했습니다. 내가 얻은 첫 번째 것이 작동하지 않았습니다. 반품 및 ...,我對這款溫度計感到失望。我得到的第一個沒有用。提交退貨和更換。我得到的第二個也沒有工作。我什...,私はこの温度計に失望しています。私が得た最初のものは動作しませんでした。返品および交換のため...,NA,NA
2699,9980000137,Marc Carter,US,New York,got today and does not work new batteries and ...,오늘은 새 배터리를 작동하지 않고 여전히 작동하지 않습니다. 중국에서 만든 월마트에...,今天到了，不能使用新電池，仍然不能使用我從沃爾瑪那裡購買的中國製造的東西，效果不佳,今日入手したが、新しいバッテリーが機能せず、中国製のウォルマートから購入したものはまだ機能しない。,NA,NA

2800

,LIFNR,NAME1,LAND1,ORT01,COMT,COMTK,COMTC,COMTJ,EMO,EMOR
2798,9980000137,Marc Carter,US,New York,Not worth it... they are very uncomfortable af...,그만한 가치가 없습니다 ... 30 분 착용 후 매우 불편합니다. 그들은 내 귀에 ...,不值得...穿著30分鐘後，他們感到非常不舒服。他們不會留在我的耳朵裡。我帶來了不同的配件，...,それだけの価値はありません...彼らは30分の着用後に非常に不快です。彼らは私の耳にとどまり...,NA,NA
2799,9980000137,Marc Carter,US,New York,It doesn't come with a charging cube!! Each ea...,충전 큐브는 포함되어 있지 않습니다 !! 각 이어 피스는 통화하는 동안 약 45 분...,它沒有附帶充電立方體！！每個耳機在通話時將持續約45分鐘。蘋果只是不在乎，並且知道我們會繼續購買。,充電キューブは付属していません!!話している間、各イヤピースは約45分続きます。 Apple...,NA,NA

2900

,LIFNR,NAME1,LAND1,ORT01,COMT,COMTK,COMTC,COMTJ,EMO,EMOR
2898,9980000137,Marc Carter,US,New York,"The ear strings keep breaking, just drop while...",귀 끈이 계속 끊어지고 착용하는 동안 떨어집니다! 우리가 사용한 6 개 중 3 개가...,耳線不斷折斷，佩戴時會掉落！在我們使用的6個中，有3個已損壞！,イヤーストリングが壊れ続けるので、装着しながら落とすだけ！私たちが使用した6つのうち、3つが...,NA,NA
2899,9980000137,Marc Carter,US,New York,This product does not deserve even one star. W...,이 제품은 별 하나도받을 자격이 없습니다. 마스크를 귀에 씌우는 동안 신축성이 마스...,該產品甚至不值得一星級。將面罩戴在我的耳朵上時，鬆緊帶拉下了面罩，使它毫無用處。這發生了三分...,この製品は1つ星に値するものではありません。マスクを耳に当てている間、ゴムがマスクを引き剥が...,NA,NA

3000

,LIFNR,NAME1,LAND1,ORT01,COMT,COMTK,COMTC,COMTJ,EMO,EMOR
2998,9980000137,Marc Carter,US,New York,"Great price for lots of storage, but it's SO slow",많은 스토리지에 대한 저렴한 가격이지만 너무 느립니다.,大量存儲的優惠價格，但是太慢了,大量のストレージにはお得な価格ですが、とても遅いです,NA,NA
2999,9980000137,Marc Carter,US,New York,This was supposed to be a photo stick for my I...,이것은 내 아이폰을위한 포토 스틱으로되어 있었지만 아니었다. 정말 실망했다,這本來應該是我iPhone的照片棒，但事實並非如此。非常失望,これは私のiPhone用のフォトスティックであるはずでしたが、そうではありませんでした。とて...,NA,NA

3100

,LIFNR,NAME1,LAND1,ORT01,COMT,COMTK,COMTC,COMTJ,EMO,EMOR
3098,9980000137,Marc Carter,US,New York,This is a great value pack of masks. The adjus...,이것은 훌륭한 가치의 마스크 팩입니다. 조절 가능한 이어 스트랩이 좋고 마스크가 큰...,這是一個超值的口罩包。可調節的耳帶很好，並且口罩覆蓋範圍廣。我也收到快遞，並且很快就到了。,これはお得なマスクのパックです。調節可能なイヤーストラップは優れており、マスクは優れたカバレ...,NA,NA
3099,9980000137,Marc Carter,US,New York,Very thin. Wasted money. I bought a different ...,매우 날씬하다. 낭비 된 돈. 나는 다른 회사에서 다른 5 개 세트를 구입했고 조금...,很瘦。浪費錢了。我從另一家公司買了一套不同的5件，便宜一點,非常に薄いです。無駄なお金。別の会社から別の5セットを購入し、少し安くしました,NA,NA

3200

,LIFNR,NAME1,LAND1,ORT01,COMT,COMTK,COMTC,COMTJ,EMO,EMOR
3198,9980000137,Marc Carter,US,New York,Love this machine. Bought it while on vacation...,이 기계를 사랑하십시오. 휴가 중에 마스크를 만들기 위해 구입했습니다. 여전히 훌륭...,愛這台機器。度假時購買了它，以幫助製作口罩。它仍然做得很好，可以在我自己的家用計算機上使用！,このマシンが大好きです。休暇中にマスクを作るのを手伝うためにそれを買いました。それはまだ素晴...,NA,NA
3199,9980000137,Marc Carter,US,New York,"Very good machine, light weight","아주 좋은 기계, 가벼운 무게",很好的機器，重量輕,非常に優れた機械、軽量,NA,NA

3300

,LIFNR,NAME1,LAND1,ORT01,COMT,COMTK,COMTC,COMTJ,EMO,EMOR
3298,9980000137,Marc Carter,US,New York,"It's a great mouse for the price, but don't ex...",가격 대비 훌륭한 마우스이지만 어떤 종류의 게임도 할 것으로 기대하지 마십시오. 매...,它是價格的絕佳選擇，但不要指望它會做任何形式的遊戲。極不響應，電池壽命短。,価格的には素晴らしいマウスですが、それを使ってゲームをすることは期待しないでください。非常に...,NA,NA
3299,9980000137,Marc Carter,US,New York,Did not like the fact that this machine does n...,이 기계에는 자동 바늘 실이 포함되어 있지 않다는 사실이 마음에 들지 않았습니다. ...,不喜歡該機器沒有自動穿線器的事實。不知道它沒有包含在這台機器上。應該已經在規格，我不會買這台機器,このミシンに自動針糸通しが付いていないのが気に入らなかった。このマシンに含まれていないことに...,NA,NA

3400

,LIFNR,NAME1,LAND1,ORT01,COMT,COMTK,COMTC,COMTJ,EMO,EMOR
3398,9980000137,Marc Carter,US,New York,I bought this same brand case bit for my husba...,"나는 남편의 아이폰 8을 위해 동일한 브랜드 케이스 비트를 샀고, 내 아이폰 11 ...",我為丈夫的iphone 8買了同一個品牌保護套，它的質量和保護性比我的iPhone 11更好。,私は夫のiphone8用にこれと同じブランドのケースビットを購入しましたが、iPhone 1...,NA,NA
3399,9980000137,Marc Carter,US,New York,Nice cover. Feels good when holding due to smo...,멋진 커버. 부드러운 모서리와 고품질 플라스틱 소재로 인해 잡을 때 기분이 좋습니다.,好的封面。光滑的邊緣和優質的塑料材料使握持時感覺良好。,素敵なカバー。滑らかなエッジと高品質のプラスチック素材により、持ちやすいです。,NA,NA

3500

,LIFNR,NAME1,LAND1,ORT01,COMT,COMTK,COMTC,COMTJ,EMO,EMOR
3498,9980000137,Marc Carter,US,New York,Why am I receiving a used steamer for in store...,매장 픽업을 위해 중고 증기선을받는 이유는 무엇입니까? 그것은 가방에 있었고 집에 ...,為什麼我會收到用過的蒸鍋去商店取貨？它裝在一個袋子裡，不認為我會得到我回家之前才看過的二手產...,店頭受け取り用の中古蒸し器を受け取るのはなぜですか？かばんに入っていて、家に帰るまで見ていな...,NA,NA
3499,9980000137,Marc Carter,US,New York,Has less steam power than my little old cheap ...,내 작은 낡은 값싼 증기선보다 증기 력이 적습니다.,蒸汽動力比我的舊舊廉價蒸汽輪少。,私の少し古い安い蒸し器よりも蒸気力が少ない。,NA,NA

In [118]:
# 파일로 저장

result = pd.DataFrame(mydf)
result.to_excel(excel_writer='ZC05MMT005 번역.xlsx', header=True, index=False)

### 한국어로 번역

In [ ]:
# 아래 코드는 계속 다시 번역하기 때문에 시간이 너무 걸림
# 따라서 20개 번역한 값을 저장해서 이를 넣어주도록 코드 수정함 

# for _ in range(len(df05)):
#     source = df05['COMT'][_]
#     translator = Translator()
#     target = translator.translate(source, src='en', dest='ko')
#     df05['COMTK'][_] = target.text
#     if _ % 1 == 0:                #잘 돌아가는지 중간 확인용
#         print(_)
#         print(target.text)


k = 0
for i in range(len(df05)):
    if i < 90:                     #comment 한 싸이클이 90개이기 때문
        source = df05['COMT'][i]
        translator = Translator()
        target = translator.translate(source, src='en', dest='ko')
        df05['COMTK'][i] = target.text
    elif i >= 90:
        df05['COMTK'][i] = df05['COMTK'][k]
        k += 1
    
    if i % 20 == 0:                 #잘 돌아가는지 중간 확인용
        print(i)
        print(target.text)

In [ ]:
result05 = pd.DataFrame(df05)

# xlsx 파일로 저장
result05.to_excel(excel_writer='ZC05MMT005 한국어 번역.xlsx', header=True, index=False)

### 중국어로 번역

In [ ]:
# 아래 코드는 계속 다시 번역하기 때문에 시간이 너무 걸림
# 따라서 20개 번역한 값을 저장해서 이를 넣어주도록 코드 수정함 

# for _ in range(len(df05)):
#     source = df05['COMT'][_]
#     translator = Translator()
#     target = translator.translate(source, src='en', dest='zh-tw')
#     df05['COMTC'][_] = target.text
#     if _ % 20 == 0:                 #잘 돌아가는지 중간 확인용
#         print(_)
#         print(target.text)

k = 0
for i in range(len(df05)):
    if i<90:                        #comment 한 싸이클이 90개이기 때문
        source = df05['COMT'][i]
        translator = Translator()
        target = translator.translate(source, src='en', dest='zh-tw')
        df05['COMTC'][i] = target.text
    elif i >= 90:
        df05['COMTC'][i] = df05['COMTC'][k]
        k += 1
    
    
    if i % 20 == 0:                 #잘 돌아가는지 중간 확인용
        print(i)
        print(target.text)

In [ ]:
result05 = pd.DataFrame(df05)

# xlsx 파일로 저장
result05.to_excel(excel_writer='ZC05MMT005 중국어 번역.xlsx', header=True, index=False)

### 일본어로 번역

In [ ]:
# 아래 코드는 계속 다시 번역하기 때문에 시간이 너무 걸림
# 따라서 20개 번역한 값을 저장해서 이를 넣어주도록 코드 수정함 

# for _ in range(len(df05)):
#     source = df05['COMT'][_]
#     translator = Translator()
#     target = translator.translate(source, src='en', dest='ja')
#     df05['COMTJ'][_] = target.text
#     if _ % 20 == 0:                #잘 돌아가는지 중간 확인용
#         print(_)
#         print(target.text)

k = 0
i = 0
for _ in range(len(df05)):
    if i<90:                        #comment 한 싸이클이 90개이기 때문
        source = df05['COMT'][_]
        translator = Translator()
        target = translator.translate(source, src='en', dest='ja')
        df05['COMTJ'][_] = target.text
    elif i >= 90:
        df05['COMTJ'][_] = df05['COMTJ'][k]
        k += 1
    
    
    if _ % 20 == 0:                 #잘 돌아가는지 중간 확인용
        print(_)
        print(target.text)

In [ ]:
result05 = pd.DataFrame(df05)

# xlsx 파일로 저장
result05.to_excel(excel_writer='ZC05MMT005 일본어.xlsx', header=True, index=False)

### 파일로 저장

In [ ]:
result05 = pd.DataFrame(df05)

# xlsx 파일로 저장
result05.to_excel(excel_writer='ZC05MMT005 번역 통합.xlsx', header=True, index=False)